/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/***********************************************************
                        GENERAL
***********************************************************/
html, body{
    width: 100%;
    height: 100%;
}
body{
    color: #212226!important;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5rem;
}
section{
    background: #FFF;
}

/***********************************************************
                        PRELOADER
***********************************************************/

.loader{
    width: 100%;
    height: 100%;
    /*
        top:0;
        left:0;
        left:0;
        left:0;
    */
    position:fixed;
    z-index: 9999;
    background: #5c9320;
    background-image: linear-gradient(to right,#5c9320 2%,#63C600 82%);
}

.loader-inner{
/*    background: #CCC;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loader-blocks{
    width: 60px;
    height: 60px;
}
.loader-inner .block{
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    animation: load 4.6s ease-in-out infinite;
}
#block-1{
    top: 0;
    left: 0;
    animation-delay: 1.06s;
}
#block-2{
    top: 0;
    left: 16px;
    animation-delay: .98s;
}
#block-3{
    top: 0;
    left: 32px;
    animation-delay: .90s;
}
#block-4{
    top: 0;
    left: 48px;
    animation-delay: .82s;
}
#block-5{
    top: 16px;
    left: 0;
    animation-delay: .74s;
}
#block-6{
    top: 16px;
    left: 16px;
    animation-delay: .66s;
}
#block-7{
    top: 16px;
    left: 32px;
    animation-delay: .58s;
}
#block-8{
    top: 16px;
    left: 48px;
    animation-delay: .50s;
}
#block-9{
    top: 32px;
    left: 0;
    animation-delay: .42s;
}
#block-10{
    top: 32px;
    left: 16px;
    animation-delay: .34s;
}
#block-11{
    top: 32px;
    left: 32px;
    animation-delay: .26s;
}
#block-12{
    top: 32px;
    left: 48px;
    animation-delay: .18s;
}
#block-13{
    top: 48px;
    left: 0;
    animation-delay: .10s;
}
#block-14{
    top: 48px;
    left: 16px;
    animation-delay: .02s;
}
#block-15{
    top: 48px;
    left: 32px;
    animation-delay: -0.06s;
}
#block-16{
    top: 48px;
    left: 48px;
    animation-delay: -0.14s;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    15%{
        opacity: 0;
        transform: translateY(-100px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}

/***********************************************************
                        HELPER SECTION
***********************************************************/

.text-primary{
    color: #5c9320!important;
    font-weight: 500!important;
}

/***********************************************************
                        LINE ICONS UPDATION
***********************************************************/
[class^="lni-"]{
    display: inline-block;
}

/***********************************************************
                        OWL CAROUSAL SETTINGS
***********************************************************/
.owl-theme .owl-nav [class*=owl-]{
    color: #212229;
    font-size: 2.5rem;
    background: none;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #5c9320;
}
/***********************************************************
                        CONTENT BOXES
***********************************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 80px 0;
}

/***********************************************************
                        VERTICAL/HORIZONTAL HEADINGS
***********************************************************/
.vertical-heading h5{
    color: #5c9320;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: .6rem;
    display: inline-block;
    position: relative;
    transform: rotate(-90deg);
    top: 60px;
    left: -55px;
}
.horizontal-heading{
    text-align: center;
}
.vertical-heading h2{
    margin: 0 0 0 35px;
    font-size: 2rem;
}
.horizontal-heading h5{
    color: #5c9320;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.vertical-heading h2,
.horizontal-heading h2{
    font-weight: 100;
    line-height: 2.8rem;
}
/***********************************************************
                        BUTTONS SECTION
***********************************************************/
.btn-general{
    font-family: 'Railway',sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 6px;
    border-radius: 30px;
    padding: 12px 40px;
    transition: all .4s;
    display: inline-block;
}
.btn-general.btn-theme{
    color: #FFF;
    background-color: #5c9320;
}
.btn-general.btn-theme:hover,
.btn-general.btn-theme:focus{
    background-color: #212226;
    color: #FFF;
}
.btn-general.btn-gradient{
    color: #FFF;
    background-size: 200%;
    background-image: linear-gradient(to right,#5c9320 0%,#63C600 51%,#5C9320 100%);
}
.btn-general.btn-gradient:hover{
    color: #FFF;
    background-position: right center;
}
/********************************************************
                        SOCIAL ICONS
********************************************************/
ul.social-list{
    padding: 0;
    list-style: none;
}
ul.social-list li{
    display: inline-block;
    padding: 0;
}
ul.social-list li a{
    border: solid 1px #FFF;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    line-height: 35px;
    transition: all .3s;
    color: #FFF;
}
ul.social-list li.fb-icon a:hover{
    background: #3B5998;    
}
ul.social-list li.twitter-icon a:hover{
    background: #00ACED;
}
ul.social-list li.google-plus-icon a:hover{
    background: #DD4B39;
}
/********************************************************
                        HOME SECTION
********************************************************/
#home{
    height: 100%;
    background: none;
}
#home-bg-video{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
#home-overlay{
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#home-content{
    width: 100%;
    height: 100%;
    display: table;
    color: #FFF;
}
.home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
.home-heading{
    font-size: 3.2rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}
.home-heading span{
    font-weight: 500;
}
/*//backi*/
.home-paragraph{
    font-size: 1.1rem;
    font-weight: 100;
    margin: 10px 0 38px 0;
}

#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    height: 32px;
    width: 32px;
    font-size: 2rem;
    transform: translateX(-50%);
    color: #FFF;
    text-decoration: none;
}

#arrow-down:hover{
    color: #5c9320;    
}

/*baki*/
/********************************************************
                        ABOUT SECTION
********************************************************/

#about-01 p{
    margin-bottom: 30px;
}
#about-01 p:last-child{
    margin-bottom: 60px;
}

#about-image img{
    margin: 0 auto;
}

#about-02{
    background: #F4F4F4;
}
.about-item{
    color: #212229;
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition: transform .3s;
}
.about-item i{
    font-size: 2.6rem;
    margin: 0;
    transition: transform .3s;
}

.about-item h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.about-item hr{
    width: 45px;
    height: 3px;
    background-color: #5c9320;
    margin: 0 auto;
    border: none;
    transition: all .3s;
}
.about-item p{
    margin-top: 20px;
}

.about-item:hover{
    background: #5c9320;
    color: #FFF;
}

.about-item:hover hr{
    background-color: #FFF;
}

.about-item:hover i{
    transform:translateY(-20px);
}

/********************************************************
                        TEAM SECTION
********************************************************/
#team-left .vertical-heading{
    margin-bottom: 40px;
}

.team-member{
    position: relative;
    margin: 10px;
}
.team-member-overlay{
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s;
    opacity: 0;
}
.team-member-info{
    text-align: center;
    width: 115px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.team-member-info h6{
    color: #5c9320;
    font-size: 1rem;
    font-weight: 500;
}
.team-member:hover .team-member-overlay{
    opacity: 1;
}

/*SKILL SECTION*/
.skill{
    margin-bottom: 40px;
    font-weight: normal;
}

.progress{
    height: 12px;
    border-radius: 25px;
    background: #EFEFEF;
    overflow: visible;
}
.progress-bar{
    background-image: linear-gradient(to right,#5c9320 0%,#63C600 51%,#5C9320 100%);
    border-radius: 25px;
    position: relative;
}
.progress-bar span{
    font-family: 'Montserrat',sans-serif;
    position: absolute;
    background: #212229;
    top: -40px;
    right: -14px;
    padding: 3px;
}
.progress-bar span:before{
    content: "";
    display: block;
    border-top: solid 8px #212229;
    border-right: solid 6px transparent;
    border-left: solid 6px transparent;
    position: absolute;
    bottom: -8px;
    left: 28%;
}